<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link">NBA球员留言板</a>
{#  <a class="flex-sm-fill text-sm-center nav-link active" href="/">主页</a>#}
  <a class="flex-sm-fill text-sm-center nav-link active" href="/post">发帖（窗体标签）</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/post2db">发帖（模型窗体类）</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/list">看帖（cycle和图标集）</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/contact">反馈（窗体类）</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/admin">后台管理</a>
</nav>